.footer {
    background-color: #5f6065;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    height: 60px;
    z-index: 11;
    width: 100%;
    position: absolute;
    bottom: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    transition: bottom 100ms, visibility 100ms;

    .buttons {
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version */

        svg {
          height: 25px;
          width: auto;

          &:hover {
            cursor: move;
          }
        }

        span {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-left: 5px;
          padding-right: 5px;

          p {
            padding: 5px 0 0 0;
            margin: 0;
            color: white;
            font-size: 10px;
          }
        }
      }

    span {
        display: flex;
        align-items: center;
    }
      .sampleName {

        input {
          color: white;
          padding-bottom: 5px;
          border-right: none;
          border-left: none;
          border-top: none;
          border-bottom: white 1px solid;
          background: none;
          font-size: 18px;
          margin-left: 20px;
          width: 200px;
        }

      }
  }


.wave {
  margin: 5px 10px;
}

.saveBtn {
  margin: 5px 10px;
  height: 30px;
}
