.submit {
  background: linear-gradient(90deg, #FF0265 0%, #E78D35 100%);
  border: unset;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  height: 40px;
  transition: transform 100ms;

  &:hover {
    transform: scaleX(1.05);
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}