.wrapper {
  position: absolute;
  z-index: 10;
  svg {
    transition: opacity 100ms;

    &:hover {
      cursor: pointer;
    }
  }
  .bar {
    transition: opacity 100ms;
    width: 1px;
    position: absolute;
    height: calc(100vh - 100px);
    top: -40px;
    background-color: #FE0A63;
  }
}