# run 'pip install -r requirements.txt' to install dependencies
argon2-cffi
mysql-connector
argon2_cffi
PyJWT
flask
mock
jsonschema
flask-cors
pytest-cov
boto3
pylint
requests
flask-migrate
flask-script
flask-sqlalchemy
mysqlclient
