.outerWrap {
  width: 220px;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.wrapper {
  width: 210px;
  height: 100px;
  background-color: #36393D;
  display: flex;
  flex-direction: column;
  position: relative;

  &.even {
    background-color: #303237;
  }

  .title {
    flex: 1;
    color: white;
    font-size: 18px;
    margin: 10px 20px 10px 10px;
    display: flex;
    align-items: center;

    input {
      margin: 0;
      color: white;
      font-size: 18px;
      background: none;
      border: none;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  .deleteTrack {
    width: 16px;
    height: 16px;
    padding: 4px;
    fill: white;
    top: 0;
    right: 0;
    position: absolute;
    align-items: center;
    &:hover {
      width: 18px;
      height: 18px;
      padding: 3px;
      background-color:rgba(112, 112, 112, 0.5);
    }
  }

  .buttons {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 15px 10px;
    color: white;

    svg {
      height: 25px;
      width: auto;

      &:hover {
        cursor: pointer;
      }
    }

    span {
      display: flex;
      flex-direction: column;
      align-items: center;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version */

      p {
        margin: 5px 0 0 0;
        color: white;
        font-size: 10px;
      }
    }
  }
}

.selectBar {
  position: relative;
  width: 10px;
  min-height: 100px;
}