.wrapper {
  display: flex;
  height: 100vh;
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;

    .lCol {
      flex: 0.5;
    }

    .rCol {
      align-items: flex-start;
    }
  }
}

.lCol {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
  }
}

.rCol {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  width: 80%;
  max-width: 550px;
  a {
    color: #A9D8E9;
    font-size: 18px;
    text-decoration: none;
  }

  .resend {
    font-size: 12px;
    font-weight: 500;
  }

  p {
    color: white;
    font-size: 18px;
    margin: 11px 0px 11px 0px;
  }

  .credentialsError {
    margin: 0;
    color: #b90539;
    height: 22px;
    font-size: 14px;
  }

  h1 {
    font-size: 48px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    input {
      margin: 10px 0px 10px 0px;

      &:first-child {
        margin-top: 0;
      }
    }

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.checkbox {
  margin-top: 10px;
}
