.wrapper {
  height: 100vh;
}

.submit {
  margin-top: 40px !important;
}

.sectionTitle {
  margin: 40px 0px 0px 0px;
  font-size: 24px;
  color: white;
  display: block;

  &:first-child {
    margin-top: 20px;
  }
}

.formWrapper {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
  max-width: 550px;

  .settingsError {
    margin: 0;
    color: #b90539;
    height: 22px;
    font-size: 14px;
  }

  h1 {
    font-size: 48px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    input {

      margin: 10px 0px 10px 0px;
    }
  }
}

.backDrop {
  background-color: rgba(48, 49, 48, 0.42);
  height: 100%;
  position: relative;
  transition: all 1.3s;
  width: 100%;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}