.modalWrapper {
    background: black;
    background: rgb(50, 50, 50);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    transition: all 200ms;
    border-radius: 20px;
    width: 40%;
    p {
        color: white;
    }
}

.modalHeader {
    border-radius: 10px;
    background: rgb(80, 80, 80);
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
    border-radius: 10px 10px 0px 0px ;
}

.modalHeader h3 {
    font-weight: 100;
    color: white;
    float: left;
    margin: 0;
    padding: 0;
}

.modalBody {
    padding: 10px 15px;
    text-align: center;
}

.modalFooter {
    background: rgb(80, 80, 80);
    border-radius: 0px 0px 10px 10px;
    height: 35px;
    padding: 15px;
}

.closeModalBtn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.closeModalBtn:hover {
    color: black;
}

.btnCancel, .btnContinue {
    
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    
    padding: 10px;
    
    border: unset;
    border-radius: 20px;
    color: white;
    height: 40px;
    transition: transform 100ms;
  
    &:hover {
      transform: scaleX(1.05);
      cursor: pointer;
    }
  
    &:focus {
      outline: none;
    }
}

.btnCancel {
    background: rgb(50, 50, 50);    
    float: left;
}

.btnContinue {
    background: linear-gradient(90deg, #FF0265 0%, #E78D35 100%);
    float: right;
}
