.footer {
  background-color: #3D4044;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
  z-index: 11;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;

  .selectedIcon {
    width: 30px;
    fill: white;
  }

  .notSelectedIcon {
    padding: 0px;
    height: 20px;
  }

  span {
    display: flex;
    align-items: center;

    .controlButton {
      height: 25px;
      fill: white;
      color: white;
      padding: 0px 20px 0px 20px;
      margin: 0px;
      opacity: 0.7;
      transition: opacity 100ms;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
    p {
      color: white;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version */
    }
  }


}

.recordButtonOuter {
  margin-right: 20px;
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  .recordButtonInner {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
  }

  &.active {
    .recordButtonInner {
      background-color: #ff0f60;
    }
  }
}
