.contentWrapper {
  height: calc(100vh - 80px);
  overflow: hidden;
}

.sidebar {
  width: 220px;
  height: 100%;
  float: left;
  background-color: #26292E;
}

.scrollableMain {
  width: calc(100% - 220px);
  height: 100%;
  overflow-x: scroll;
}

.mainContent {
  width: 150%;
}