.wrapper {
  display: flex;
  height: 100vh;
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;

    .lCol {
      flex: 0.5;
    }

    .rCol {
      align-items: flex-start;
    }
  }
}

.lCol {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rCol {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  width: 80%;
  a {
    color: #A9D8E9;
    font-size: 18px;
    text-decoration: none;
  }

  p {
    color: white;
    font-size: 18px;
    margin: 11px 0px 11px 0px;
  }

  h1 {
    font-size: 48px;
    color: white;
    font-weight: 600;
  }

  form {
    display: flex;
    flex-direction: column;
    input {
      margin: 10px 0px 10px 0px;
    }
  }
}
