@keyframes spin {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.inner div {
  position: absolute;
  animation: spin 1s linear infinite;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #fff;
  transform-origin: 50% 50%;
}
.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: none;
}
.inner {
  max-width: 100px;
  max-height: 100px;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.inner div { box-sizing: content-box; }