.wrapper {
  display: flex;
  align-items: center;

  &.hover {
    .input {
      transform: scaleX(1.05);
    }

    .sideContent {
      transform: scaleX(1.4);
    }
  }
}

.sideContent {
  height: 32px;
  border-bottom: 1px solid white;
  color: white;
  font-size: 10px;
  transition: border-bottom-color 150ms, transform 100ms;
}

.input {
  flex: 1;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: unset;
  background-color: unset;
  height: 40px;

  border-bottom: 1px solid white;
  transition: border-bottom-color 150ms, transform 100ms;

  &::placeholder {
    color: white;
  }

  &:focus {
    outline: none;
  }
}