body {
  margin: 0;
  font-family: "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1B1E23;
}

h1, h2, h3, h4, h5, p, input, label, a, button {
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


div::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
  background-color: rgba(50, 50, 50, 0.1);
}

div::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #666;
  transition: background-color 200ms;
}

div::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}