.wrapper {
  width: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: #36393D;
}

.profilePic {
  width: 25px;
  height: 25px;
}

.username {
  color: white;
  font-size: 12px;
  margin: 0 0 0 10px;
}

.title {
  color: white;
  font-size: 14px;
  margin: 10px 0px 0px 0px;
}

.details {
  padding: 0px 10px 0px 10px;

  span {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
}

.thumbWrapper {
  width: 150px;
  height: 200px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: center;

  img {
    width: auto;
    height: 100%;
  }
}

.likesWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.likeIconWrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.likeIcon {
  width: 20px;
  height: 20px;
  fill: white;
  position: absolute;
  top: 0;
  left: 0;

  &:hover {
    cursor: pointer;
  }

  &.gradient {
    pointer-events: none;
    fill: url(#gradient);
    transition: opacity 200ms;
    opacity: 0;

    &.liked {
      opacity: 1;
    }
  }
}

.likes {
  color: #C3C3C3;
  font-size: 12px;
  margin: 0 0 0 5px;
}