.wrapper {
  width: 100%;
  height: 100px;
  background-color: #2B2E32;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &.even {
    background-color: #26292E;
  }
}

.gridLines {
  height: 100px;
  width: 100%;
  position: relative;
}

.tick {
  height: 100px;
  fill: #34373B;
  width: 1px;
}