.wrapper {
  height: 90px;
  border-radius: 10px;
  margin: 5px 0px;
  display: inline-block;
  position: relative;
  left: 0;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.waveform {
  fill: white;
  width: 100%;
  height: 100%;
}

.bar {
  width: 1px;
}