.wrapper {
  height: 90px;
  border-radius: 10px;
  margin: 5px 0px;
  display: inline-block;
  position: relative;
  left: 0;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  p {
    padding: 0 auto;
    margin-left: 3px;
    margin-top: 3px;
    position: absolute;
    font-size: 11px;
    height: 80px;
    width: 70%;
    font-weight: 700;
    color: white; 
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
.edit {
    padding: 0 auto;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    height: 15px;
    &:hover {
      filter: invert(100%);
    }
  }
  .editing {
    filter: invert(100%);
  }
}

.waveform {
  fill: white;
  width: 100%;
  height: 100%;
}

.bar {
  width: 1px;
}
